#name: Run Tests on Pull Request
#
#on:
#  pull_request:
#    branches:
#      - main
#      - develop
#
#jobs:
#  test:
#    runs-on: ubuntu-latest
#    permissions:
#      pull-requests: write # PR에 댓글을 작성할 권한 추가
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v3
#
#      - name: Make properties for test
#        run: |
#          mkdir -p ./src/test/resources
#          touch ./src/test/resources/application.properties
#          echo "${{ secrets.TEST_PROPERTIES }}" > ./src/test/resources/application.properties
#
#      - name: Set up Java 21
#        uses: actions/setup-java@v3
#        with:
#          distribution: 'temurin'
#          java-version: '21'
#
#      - name: Run unit test with coverage checking !!!
#        run: ./gradlew jacocoTestCoverageVerification
#
#      - name: Add JaCoCo Report Comment to PR (100% Required)
#        id: jacoco
#        if: always()
#        uses: madrapps/jacoco-report@v1.7.1
#        with:
#          paths: ${{ github.workspace }}/build/reports/jacoco/jacoco.xml
#          token: ${{ secrets.GITHUB_TOKEN }}
#          min-coverage-overall: 100
#          min-coverage-changed-files: 100
#          title: "JaCoCo Test Coverage Report (100% Required)"
#
#      - name: Upload JaCoCo Report
#        if: always()
#        uses: actions/upload-artifact@v4
#        with:
#          name: jacoco-report
#          path: build/reports/jacoco/
#
#      - name: Run Integration Test !!!
#        run: ./gradlew integrationTest
#
#      - name: Make API Document
#        run: ./gradlew asciidoctor
#
#      - name: Copy API Document
#        run: ./gradlew copyDocument
#
#      - name: Delete test properties (Cleanup)
#        if: always()  # gitignore 했지만 혹시나 하여 항상 프로퍼티 삭제 실행
#        run: rm -f ./src/test/resources/application.properties